
* {
    line-height: 1.5rem;
    font-size: 24px;
}

.container {
    margin-left: 0;
    padding-left: 0;
    max-width: 960px;

}
.brand {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    background: rgba(241, 245, 243, 0.973);
}

.header {
    padding: 0;
    margin: 0;
    

}

h1 {
    background:#17a2b8;
    color: #fff;
    font-size: 50px;
    padding: 20px;
}

.navbar-brand {
    padding: 0;
    margin: 0;
    background: #17a2b8;
    color: #fff;

}



li {
    float: right;
    
}

.nav-link {
    color: #495C5B;
}

.contact {
    background: #ffffff;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 200px; 
    overflow: auto;  

}

.text-info {
    font-size: 30px; 
    font-weight: 500; 
}

.footer {
    background: rgb(66, 66, 66);
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    text-align: center;
    border-top: 5px solid #17a2b8;

}

.story {
    margin-top: 20px;
}

.img-fluid {
    margin: 10px;
    overflow: auto;
}

@media screen and (max-width:640px) {
    body {        
        padding: 0;
        margin: 0;    
    }
    .header {
        padding: 0;
        margin-left: 0;   
        widows: 640px;
        background: #17a2b8;
    }

    h1 {
        
    }

    .contact {
        margin: auto 10px;
    }

    .brand {
        color: white;
    }
}



/*   <style type="text/css">
    body { padding-top: 70px; }
    .jumbotron {
      color: #2c3e50;
      background: #ecf0f1;

    }
    .navbar-inverse {
      background: #2c3e50;
      color: white;
    }
    .navbar-inverse .navbar-brand, .navbar-inverse a{
      color:white;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: white;
    } 

  </style> */