body {
    background: rgba(241, 245, 243, 0.973);
}

.header {
    padding: 0;
    margin: 0;

}

h1 {
    position: static;
}

.navbar-brand {
    padding: 0;
    margin: 0;

}

li {
    float: right;
    
}

.nav-link {
    color: #495C5B;
}

.contact {
    background: #ffffff;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 200px;   

}

.text-info {
    font-size: 30px; 
    font-weight: 500; 
}

.footer {
    background: rgb(66, 66, 66);
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    text-align: center;

}