
.brand {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(241, 245, 243, 0.973);
}

.header {
    padding: 0;
    margin: 0;
    

}

h1 {
    position: relative;
}

.navbar-brand {
    padding: 0;
    margin: 0;
    background: #17a2b8;

}

li {
    float: right;
    
}

.nav-link {
    color: #495C5B;
}

.contact {
    background: #ffffff;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 200px; 
    overflow: auto;  

}

.text-info {
    font-size: 30px; 
    font-weight: 500; 
}

.footer {
    background: rgb(66, 66, 66);
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    text-align: center;
    border-top: 5px solid #17a2b8;

}

@media screen and (max-width:640px) {
    body {        
        padding: 0;
        margin: 0;    
    }
    .header {
        padding: 0;
        margin-left: 0;   
        widows: 640px;
        background: #17a2b8;
    }

    .contact {
        margin: auto 10px;
    }
}